*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.insta-navigations-menu{
    width: 74%;
    margin: auto;
}
.insta-center-container{
    width: 74%;
    margin: auto;
}
footer{
    .foot-tags{
        width: 74%;
        margin: auto;
    }
}